.tab {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--tab-border);
  border-radius: 3px;
  margin: 1rem;
}

#search-tab {
  margin-top: 30px;
  flex-direction: column;
}

#search-head {
  font-size: 40px;
  white-space: nowrap;
  padding: 10px 20px 5px;
  font-weight: 800;
}

#search-body {
  white-space: nowrap;
  padding: 0 20px;
  color: var(--text-grey);
}

#search-tab input {
  margin: 10px 20px;
  padding: 10px 10px;
  font-size: 17px;
  outline: none;
}

#info-profile {
  display: inherit;
  flex-direction: column;
  width: 30%;
  min-width: 200px;
  margin: 20px;
}

#profile-img {
  margin-bottom: 15px;
}

#info-profile button {
  border: none;
  border-radius: 10px;
  height: 30px;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

#info-profile button:hover{
  opacity: 0.8;
}

#info-profile button:active {
  opacity: 0.3;
}

#info-description{
  display: inherit;
  flex-direction: column;
  margin: 20px 0;
  padding-right: 20px;
  width: 100%;
}

#info-cards {
  display: inherit;
  flex-direction: row;
  white-space: nowrap;
}

#info-cards p,
#repo-cards p {
  margin : 0 0.2rem 1rem 0;
  padding: 2px 10px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
}

#public-repos,
#stars{
  background-color: #376fd1;
}

#public-gists,
#watchers{
  background-color: #b6b6b6;
}

#followers,
#forks{
  background-color: #47c36e;
}

#following{
  background-color: #49abb8;
}

#info-table {
  display: flex;
  flex: 1;
  white-space: nowrap;
  width: 100%;
}

#info-table table{
  width: 100%;
  border: 1px solid var(--tab-border);
  border-collapse: collapse;
}

#info-table td {
  border-bottom: 1px solid var(--tab-border);
  padding: 10px;
  font-size: 15px;
}

#repo-head {
  font-size: 25px;
  font-weight: 600;
  margin-left: 1rem;
}

#repo-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#repo-cards {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 0;
}

#repo-name p{
  font-size: 17px;
  font-weight: 400;
  color:var(--primary);
  margin: 1rem;
  cursor: pointer;
}

#info-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#info-message p {
  font-size: 30px;
  justify-content: center;
  margin: 1rem;
  color: var(--text-grey);
}